<h3>Add a new definition for $word.getWord()</h3>

<form action="/definition" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">Definition:</label>
    <input id="definition" name="definition" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
