<h1>Word To Be Added</h1>

<form action="/word" method="post">
  <label for="word">Enter Word to Add</label>
  <input id="word" name="word" type="text">

  <button type="submit" class="btn btn-success">Add Word</button>
</form>
